.app{
  font-family: 'SolaimanLipiRegular';
}

a{
  color: black;
}

h2{
  font-size: 46px;
  font-weight: 500;
  color: black;
  margin: 20px;
}

.btn-solid-link{
  display: block;
  height: 43px;
  line-height: 43px;
  width: 186px;
  font-size: 16px;
  padding: 0 30px;
}